body {
  margin: 0;
  font-family: "Poppins", sans-serif;

  background: linear-gradient(135deg, #8b5cf6, #ec4899);
  min-height: 100vh;
}

/* VERY IMPORTANT */
#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;  /* THIS FIXES TOP SPACING */
  padding-top: 40px;
}
/* remove default spacing */
* {
  box-sizing: border-box;
}
